.login-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: fixed no-repeat url('../assets/images/LoginBackground.png');
  background-position: bottom;
  background-size: cover;
}

form {
  width: 20vw;
}
